.griddy{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    margin-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.lazy-image {
    width: 100%;          
    height: auto;        
    filter: blur(10px);  
    opacity: 0.6;        
    transition: filter 0.5s ease, opacity 0.5s ease; 
  }
  
.lazy-image.loaded {
    filter: blur(0);     
    opacity: 1;          
}
.griddy .lazy-image .lazy-image.loaded{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
}




@media screen and (max-width: 900px){
    .griddy{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        margin-top: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 600px){
    .griddy{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 450px){
    .griddy{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-top: 4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

